.container {
    display: flex;
    alignitems: center;
    justifycontent: space-between;
}

.portalTitleContainer {
    margin: var(--base-margin);
    padding: var(--base-padding);
    flex: auto;
    text-align: center;
}
