.title {
    margin: 120px auto;
}

.loginContainer {
    padding: 16px;
    margin: 120px auto;
    width: 320px;
    border-radius: var(--base-border-radius) !important;
    background-color: #f6f8fa !important;
    border: 1px solid hsla(210, 18%, 87%, 1);
}
